<header>
  <nav>
    <h2>Links para tabelas</h2>
    <p>Acessar links:</p>
    <ul>
      <li><a href="/">Geral</a></li>
      <li><a href="/booking">Bookings</a></li>
      <li><a href="/geral">Clients</a></li>
      <!-- Adicione outras opções de navegação conforme necessário -->
    </ul>
  </nav>
</header>