<header>
  <nav>
    <ul>
      <li><a href="/">Clients</a></li>
      <li><a href="/booking">Bookings</a></li>
      <li><a href="/geral">Geral</a></li>
      <!-- Adicione outras opções de navegação conforme necessário -->
    </ul>
  </nav>
</header>