<h2>Reservas</h2>
<a href="/bookings/new">+ Nova Reserva</a>
<table id="bookingsTable">
  <thead>
    <tr>
      <th>ID</th><th>Cliente</th><th>Sala</th><th>Data</th><th>Início</th><th>Fim</th><th>Status</th><th>Ações</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
