<h2>Clientes</h2>
<a href="/clients/new">+ Novo Cliente</a>
<table id = "clientsTable">
  <thead>
    <tr><th>ID</th><th>Nome</th><th>Email</th><th>Senha</th><th>Cargo</th><th>Ações</th></tr>
  </thead>
  <tbody>
    <!-- app.js preenche sozinho -->
  </tbody>
</table>
